body {
    background-color: black;
    color: orange;
    font-family: Arial;
}
h1 {
    color: orange;
    text-align: center;
}
p {
    text-align: center;
}
/* Navigácia */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #000;
    border-bottom: 2px solid orange;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: orange;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

/* Úvodný obrázok */
.hero {
    background-image: url('https://images.unsplash.com/photo-1508974239320-0a029497e820?auto=format&fit=crop&w=1600&q=80');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.hero-text {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 50px;
    color: orange;
    margin-bottom: 10px;
}

.hero p {
    font-size: 22px;
    color: white;
}
/* Sekcia O nás */
.about {
    text-align: center;
    padding: 80px 100px;
    background-color: #181818;
}

.about h2 {
    font-size: 32px;
    color: orange;
    margin-bottom: 20px;
}

.about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    color: #ddd;
}
/* Galéria */
.gallery {
    padding: 80px 40px;
    background-color: #0f0f0f;
    text-align: center;
}

.gallery h2 {
    font-size: 32px;
    color: orange;
    margin-bottom: 40px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}
/* Footer */
.footer {
    background-color: #000;
    padding: 40px 20px;
    text-align: center;
    color: #bbb;
    margin-top: 50px;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}

.footer p:hover {
    color: orange;
    cursor: pointer;
}
/* Mobilná verzia */
@media (max-width: 768px) {

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    .hero {
        padding: 100px 20px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .about {
        padding: 50px 20px;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .gallery-grid img {
        height: 180px;
    }
}

